ensembl_gtf: /lustre/scratch117/cellgen/team170/ka8/annotations/GRCh38/genes/Ensembl_87/Homo_sapiens.GRCh38.87.gtf
fasta: /lustre/scratch117/cellgen/team170/ka8/annotations/GRCh38/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa
star_index: /lustre/scratch117/cellgen/teamtrynka/dafni/RNA_index/STAR/hg38_ensembl87
vcf_file: /lustre/scratch117/cellgen/teamtrynka/dafni/Treg_data/RNA_analysis/ref_files/AllDonors_Imputed_AllAutosomes_MAF0.1_GRCh38_Setted.vcf.gz
chromosome_lengths: /lustre/scratch117/cellgen/team170/ka8/annotations/GRCh38/bt2-index/chromosome_lengths.txt

bedg2bw_root: "/software/ensembl/funcgen/bedGraphToBigWig"
feat_root: "/nfs/users/nfs_d/dg22/subread-1.5.1-source/bin/featureCounts"
